
.icon-bathrobes:before { content: '\e800'; } /* '' */
.icon-bathtub:before { content: '\e801'; } /* '' */
.icon-beach-pool-facilities:before { content: '\e802'; } /* '' */
.icon-beach:before { content: '\e803'; } /* '' */
.icon-business-center:before { content: '\e804'; } /* '' */
.icon-children-club:before { content: '\e805'; } /* '' */
.icon-coffe-maker:before { content: '\e806'; } /* '' */
.icon-deep-soaking-bathtub:before { content: '\e807'; } /* '' */
.icon-fitness-center:before { content: '\e808'; } /* '' */
.icon-garden:before { content: '\e809'; } /* '' */
.icon-kitchen-facilities:before { content: '\e80a'; } /* '' */
.icon-newspaper:before { content: '\e80b'; } /* '' */
.icon-nightclub:before { content: '\e80c'; } /* '' */
.icon-restaurant:before { content: '\e80d'; } /* '' */
.icon-safety-box:before { content: '\e80e'; } /* '' */
.icon-sheets:before { content: '\e80f'; } /* '' */
.icon-separate-bredroom:before { content: '\e810'; } /* '' */
.icon-search:before { content: '\e811'; } /* '' */
.icon-star:before { content: '\e812'; } /* '' */